{% load static %}

<head>
    <title>멋사</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="text-align: center">
            <br>
        <div class="row">
            <h1 class="col-6">이수지</h1>
            <div class="col-6">
                <a href="{% url 'accounts:signup'%}">Sign up</a>
                <a href="{% url 'login'%}">Login</a>
            </div>
        </div>
        <br>
        {% block content %}
        {% endblock %}
    </div>
</body>